#registry_h1{
	font-size:32;
	color: #CD2626;
}

#o_userverify{
	size: 14px;
	color: #FF00FF;
}

#registry_head{
	height:123px;
	background: silver;
	width: 100%;
	color : orange;
	font-family:	 cursive; 
	vertical-align: middle;
}

.table_registry{
	border-color: #FFFF00;
	overflow: visible;
}

.reg_bottom{
	color:#38acc0;	
	vertical-align: bottom;
}

.registry_tail{
	background : maroon;
	height: 300px;
	width: 100%;
	font-family: inherit;
	font-size: xx-small;
	font-weight: bold;
	text-align: center;
}

.registry.body{
	background : #454545;
}

.registry-bottom{
	background: gainsboro;
}

.reg_bottom div{
	background: gray;
}

.reg_bottom th{
	size: 25%;
}

#for_pic{
	width: 50%;
	height: 50%;
}

.pic_size{
	width: 98%;
	height: inherit;
}

li{
	float: left;
	list-style: none;
	height: 35px;
}

.form-login div{
	height: 8%;
	width: 12%;
}

.background-login{
	width:100%;
	height: 80%;
	bottom: 2px;
}

.main—nav{
	background:#38ACC0;
}
